.file {
  position: relative;
  flex: 1;

  & .file-float {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
  }
}

:global(.movement-leave) {
  opacity: 1;

  &:global(.movement-leave-active) {
    opacity: 0.01;
    transition: all .3s ease-in;
  }
}

:global(.movement-enter) {
  opacity: 0.01;

  &:global(.movement-enter-active) {
    opacity: 1;
    transition: all .3s ease-in;
  }
}
