.file {
  position: relative;
  flex: 1;

  & .file-float {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;

    & svg {
      position: relative;
      z-index: 1;
      transition: all 0.3s linear;
    }
  }
}
