{
  "reporter": [
    "html",
    "text"
  ],
  "all": true,
  "include": ["packages/chess/src/core/**/*", "packages/chess/src/utils/**/*"],
  "exclude": ["packages/ui/src/**/*", "**/index.js", "**/test/**/*"],
  "lines": "95",
  "branches": "95",
  "statements": "95"
}
