.menu {
  &.menu-ingame {
    & .menu-item {
      display: inline-block;
    }
  }

  & .menu-item {
    & > button {
      &:global(.is-doing-match) {
        width: 50px !important;
      }

      width: 150px;
    }
  }
}
