.rank {
  position: relative;
  width: 100%;
  height: calc(100% / 8);

  &:after {
    position: absolute;
    left: -20px;
    top: 50%;
    content: attr(data-rank);
    transform: translate(0, -50%);
  }

  &:last-child {
    & > div:after {
      position: absolute;
      bottom: -20px;
      left: 50%;
      content: attr(data-file);
      transform: translate(-50%, 0);
    }
  }
}
