.board {
  width: 400px;
  margin: 20px 0;
  border: 1px solid #ddd;
  background-color: #a0a0a0;
}

.rank {
  width: 100%;
  height: 50px;

  &:nth-child(odd) {
    & :nth-child(odd) {
      background-color: #fff;
    }
  }

  &:nth-child(even) {
    & :nth-child(even) {
      background-color: #fff;
    }
  }
}
