:global(#root) {
  height: 100%;
}

:global(.l-flex-row) {
  display: flex;
  flex-direction: row;
}

:global(.l-flex-col) {
  display: flex;
  flex-direction: column;
}

:global(.l-flex-center) {
  display: flex;
  justify-content: center;
}

:global(.l-flex-middle) {
  display: flex;
  align-items: center;
}
