:global(.is-hidden) {
  display: none !important;
}

:global(.is-disabled) {
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #fff;
}

:global(.is-dark) {
  background-color: #ccc;
}

:global(.is-turn) {
  cursor: pointer;
}

:global(.is-selected) {
  border: 2px solid #000;
}

:global(.is-movable) {
  cursor: pointer;
  border: 2px solid #000;
}

:global(.is-capturable) {
  cursor: pointer;
  border: 2px dotted red;
}
