.records {
  margin: 25px 0 10px;
  background-color: #a0a0a0;
  color: #000;
  max-height: 150px;
  overflow: auto;
  scroll-behavior: smooth;

  & li {
    height: 30px;
    line-height: 30px;
  }

  & span {
    &:first-child {
      width: 50px;
      text-align: center;
    }

    &:not(:first-child) {
      padding-left: 20px;
      flex: 1;
    }
  }
}
